<section class="content-section">
 <div class="row" >
	<div class="small-16 large-16 columns">
			<h1>Welcome to DC4 setup help!</h1>
			<div class="tabbed condensed">
				<ul class="tabs" id = "tabs">
						 <li ng-repeat="tab in tabs" class="tab-title" ng-class="{active:isActiveTab(tab.url)}"><a ng-click="onClickTab(tab)">{{tab.title}}</a></li>
				</ul>
				<div class="panel tabs-content">
	        <div ng-repeat="tab in tabs" class="content" ng-class="{active:isActiveTab(tab.url)}" ng-include="currentTab" ng-show="currentTab">
            See Vendor, retailer and docType tabs!
	        </div>
	      </div>
			</div>
		</div>
	</div>
</section>
