<fieldset ng-form="form">
  <legend>
    DataTypes
  </legend>
  <div class="row">
    <div class="small-8 large-4 columns">
      <label class="required">data type:
        <input type="text" ng-model="document.dataType" placeholder="enter a data type here..."/>
      </label>
    </div>
    <div>
      <a>
        <i class="fa fa-plus-circle fa-2x"
            ng-click="addDocument({'dataType': document.dataType})">
          &nbsp;
        </i>
      </a>
    </div>
  </div>

  <fieldset>
    <legend>
      Selected data types
    </legend>
    <div ng-repeat="document in documents">
      <span>
        <a href="">
          <i class="fa fa-minus-circle fa-lg" ng-click="removeDocument($index)"></i>
        </a>
        <span>{{document.dataType}}</span>
      </span>
    </div>
  </fieldset>
</fieldset>
<div class="row">
  <div>
    <div class="txt-left">
      <button class="button" ng-click="previousTab()">Previous</button>
    </div>
    <div class="txt-right">
      <button class="key" ng-click="nextTab()">Next</button>
    </div>
  </div>
</div>
<hr />
