<fieldset>
  <legend>
    Retailers, Profiles, &amp; Capabilities
  </legend>

  <div class="row">
    <div class="small-3 large-3 columns">
      <label class="required">Retailer:
        <input type="text" ng-model="retailer.retailer" placeholder="start typing a retailer..."/>
      </label>
    </div>
    <div class="small-13 large-13 columns">
      <fieldset>
        <legend>
          Profiles and Capabilities
        </legend>
        <div ng-repeat="profile in profiles">
          <span>
            <a href="">
              <i class="fa fa-plus-circle" ng-show="!profile.showCapabilities" ng-click="showCapabilities(profile, true)"></i>
              <i class="fa fa-minus-circle" ng-show="profile.showCapabilities" ng-click="showCapabilities(profile, false)"></i>
            </a>
            {{profile.name}} >>> {{profile.information}}
          </span>
          <div ng-show="profile.showCapabilities" ng-repeat="capability in profile.capability">
          &nbsp;&nbsp;&nbsp;
            <span>
              <!-- <a href="">
              <i class="fa fa-plus-circle"
                ng-click="profile.capability.showCapabilityInfo == !profile.capability.showCapabilityInfo">
              </i>
              </a> -->
              {{profile.capability.name}} <<< {{profile.capability.information}} ------ {{profile.capability.showCapabilityInfo}}
            </span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>
<div>
  <div class="txt-left">
    <button class="button">previous</button>
  </div>
  <div class="txt-right">
    <button class="key">Finish</button>
  </div>
</div>
<hr />
